html {
  --color-white: #fff;
  --color-black: #000;
  --color-font: #1d1d1d;
  --color-font-darkgray: #6e6e6e;
  --color-font-middlegray: #b7b7b7;
  --color-font-lightgray: #f5f5f5;
  --color-link: #0071e3;
  --color-link-focus: #81b9f1;
  --color-border: #d2d2d2;
  --color-header: #3a3a3a;
  --color-section: #f5f5f5;
  --color-shadow: rgba(0, 0, 0, 0.4);
  --color-title: rgb(206, 130, 53);
}

* {
  margin: 0px;
  padding: 0px;
}
ul,
ol,
li {
  list-style: none;
}

/*COMMON*/
body {
  font-family: "Playfair Display", serif;
  background: var(--color-font);
}
a {
  text-decoration: none;
}
img {
  display: block;
  user-select: none;
  -webkit-user-drag: none;
}

/*INNER*/
.inner {
  width: 1000px;
  margin: 0 auto;
  position: relative;
}

/*BUTTON*/
.btn {
  width: 130px;
  padding: 10px;
  border: 2px solid #333;
  border-radius: 4px;
  color: #333;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  display: block;
  transition: 0.4s;
}
.btn:hover {
  background-color: #333;
  color: #fff;
}
.btn.btn--reverse {
  background-color: transparent;
  border: 3px solid lightgray;
  color: lightgray;
}
.btn.btn--reverse:hover {
  background-color: lightgray;
  color: rgb(100, 86, 6);
}
.btn.btn--brown {
  color: #592b18;
  border-color: #592b18;
}
.btn.btn--brown:hover {
  color: #fff;
  background-color: #592b18;
}
.btn.btn--gold {
  color: #d9aa8a;
  border-color: #d9aa8a;
}
.btn.btn--gold:hover {
  color: #fff;
  background-color: #d9aa8a;
}
.btn.btn--white {
  color: #fff;
  border-color: #fff;
}
.btn.btn--white:hover {
  color: #333;
  background-color: #fff;
}

/*BACK TO POSITION*/
.back-to-position {
  opacity: 0;
  transition: 1s;
}
.back-to-position.to-right {
  transform: translateX(-150px);
}
.back-to-position.to-left {
  transform: translateX(150px);
}
.show .back-to-position {
  opacity: 1;
  transform: translateX(0);
}
.show .back-to-position.delay-0 {
  transition-delay: 0s;
}
.show .back-to-position.delay-1 {
  transition-delay: 0.3s;
}
.show .back-to-position.delay-2 {
  transition-delay: 0.6s;
}
.show .back-to-position.delay-3 {
  transition-delay: 0.9s;
}
html.fixed {
  position: fixed;
  overflow-y: scroll;
  width: 100%;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
}

main header {
  width: 20%;
  height: auto;
  padding: 10vh 0;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: center;
  position: relative;
  background: black;
  z-index: 10;
}

main header nav {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  position: fixed;
}

main #content {
  position: relative;
  /* margin: 0 100px; */
  /* padding: 0 10px; */
  width: 80%;
  height: 100%;
}

header.hidden {
  display: none;
}
header .menu {
  margin-top: 3rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 50px;
  flex-grow: 1;
}

nav .menu li a {
  color: var(--color-title);
}
